body {
  padding: 0%;
  margin: 0%;
}

.toolbar {
  background-color: #3c3a39;
  position: absolute;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#logo-placeholder {
  display: block;
  margin-top: 15px;
  margin-left: 7%;
}

#logo-placeholder a {
  text-decoration: none;
}

#logo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 15px;
}

.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffff;
  margin-bottom: 3px;
  border-radius: 20%;
}

.home {
  background-image: url(./assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 360%;
  background-color: #1c1a19;
  position: absolute;
  width: 100%;
  height: 95%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.primary-text {
  height: 20%;
  width: 80%;
  margin-left: 5%;
  margin-top: 50px;
}

.primary-text h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
  color: #ff6b00;
}

.supporting-text {
  height: 30%;
  width: 80%;
  margin-left: 5%;
  margin-top: 14px;
}

.supporting-style {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.description-style {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  height: 10%;
  width: 55%;
  margin-left: 5%;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
